body {
    background: black;
    color: white;
}
.btn-outline-secondary {
    background: rgb(30, 109, 19);
    color: black;
}
input[type=text], textarea {
    background: black;
    color: rgb(30, 109, 19)
}